.search {
    margin-bottom: 200px;
    text-align: center;
    padding-top: 200px;
}


input {
    height: 20px;
    width: 300px;
}

.img_list {
   list-style: none;
   text-align: center;
   padding-top: 100px;
   padding-bottom: 150px;
}
.img_list > li {
    padding-top: 30px;
    text-align: center;
}
 p {
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    width: 700px;
}
.hidden {
    display: none;
}